.App {
  flex-direction: column;
  display: flex;
}

.logo {
  height: 4em;
  margin: 1em;
  margin-bottom: 1.1em;
}

.navbar {
  background-color: #09e4ba;
  height: 4em;
  display: flex;
  flex-direction: row;
  font-family: 'Jost', serif;
  align-items: center;
  border-bottom: 1px solid #73f6ce;
}

.link {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin: 1em;
}

.defCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.accentCard {
  width: 100px;
  background-color: #ececec;
  flex: 1;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 200px;
  height: 200px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Jost', serif;
  margin-top: 5px; 
  transition: background-color 0.3s, margin-top 0.3s, box-shadow 0.3s;
  box-shadow: 0px 0px 0px #bdbdbd;
}

.accentCard:hover {
  background-color: #d6d6d6;
  margin-top: 2px;
  box-shadow: 0px 3px 0px #bdbdbd;
}

.searchBar {
  font-family: 'Jost', serif;
  margin-left: auto;
  margin-right: 2em;
  border: none;
  width: 300px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 5px;
}
.searchBar:focus, input:focus {
  outline: none;
}

h1.header {
  font-family: 'Jost', serif;
  margin: 1em;
}

.emphasis {
  font-weight: bold;
  font-family: 'Jost', serif;
  margin: 2em;
  background-color: rgba(179, 179, 179, 0.233);
  height: 3em;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accentCardHeart {
  margin-right: 0rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  margin-left: auto;
}